<form action="/add" method="POST">
    <p>Title: </p>
    <input type="text" name="title">
    <p>Content: </p>
    <textarea name="content" id="content" cols="30" rows="10"></textarea>
    <button type="submit">Create Post</button>
</form>